
<div class="container-fluid bg-white" id="mouse">
    <h2 class="text-uppercase py-3 text-muted text-center">galeria de imagenes</h2>
    <figure class="m-0 mouse_parallax" style="position: relative; overflow: hidden;">
        <img src="../assets/img/mouse/plano02.png" class="img-fluid" style="width: 100%;" alt="">
        <figure class="mouse_parallax" style="position: absolute; top: 0; left: 0;">
            <img src="../assets/img/mouse/plano01.png" class="img-fluid" alt="">
        </figure>
        <figure class="mouse_parallax" style="position: absolute; top: 0; left: 0;">
            <img src="../assets/img/mouse/plano00.png" class="img-fluid" alt="">
        </figure>
    </figure>
</div>