
<div class="signin text-center" *ngIf="!login">
    <form action="" class="form-signin was-validated" (ngSubmit)="onSubmit(f)" #f="ngForm" method="post" novalidate>
        <h3 class="mb-3 font-weight-normal">Login</h3>
        <div class="form-group text-center">
            <input type="text" class="form-control mt-3 " id="username" placeholder="Username" name="user" [(ngModel)]="username" pattern="(?=.*[A-Za-z]).{2,10}" 
            #user="ngModel" required>
            <div *ngIf="user.touched && !user.valid" class="invalid-feedback">Error en el campo de usuario.</div>
            <div *ngIf="user.errors?.required && user.touched" class="invalid-feedback">Este campo es obligatorio</div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control mt-3" id="password" placeholder="Password" name="pass" [(ngModel)]="password" #pass="ngModel" required>
            <div *ngIf="pass.errors?.required && pass.touched" class="invalid-feedback">Este campo es obligatorio</div>
        </div>

        <div *ngIf="!validarLogin" class="alert alert-danger mt-3" >Usuario y contraseña incorrectos </div>

        <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block mt-3">Ingresar</button>
    </form>
</div>


<!-- Lectura del articulo -->

<article *ngIf="login">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Articulo {{ article ? article.id : '' }}</h1>
            <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, voluptate.</p>
            <div class="text-center">
                <button class="btn btn-primary float-center" [routerLink]="['/']" routerLinkActive="router-link-active" >Regresar</button>
            </div>
        </div>
    </div>

    <div class="container" >
       <div [innerHTML]="contenidoArticle"></div>
    </div>
</article>