<header class="container-fluid bg-light" id="sticker">
    <nav class="navbar navbar-expand-sm navbar-light bg-light container">
        <a class="navbar-brand text-center" href="#">
            <img src="../assets/img/logotipo.png" style="width:150px;">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link d-none d-lg-block" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallery">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mouse">Mouse </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#article">Articulo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#form">Formulario</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
